<div class="row">
  <h2>Clientes <%= "(#{Cliente.count})" -%></h2>
  <div class="col-lg-12">
    <%= link_to new_cliente_path, type: "submit", class: "btn btn-lg btn-success pull-right" do %>
        <span class="glyphicon glyphicon-plus"></span> Agregar cliente
    <% end %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>RUT</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Comuna</th>
        <th>Estado</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @clientes.each do |cliente| %>
          <tr>
            <td><%= cliente.nombre %></td>
            <td><%= cliente.apellido %></td>
            <td><%= cliente.rut %></td>
            <td><%= cliente.email %></td>
            <td><%= cliente.telefono %></td>
            <td><%= cliente.direccion %></td>
            <td><%= cliente.comuna %></td>
            <td><span class="glyphicon glyphicon-ok text-success"></span></td>
            <td>
              <div class="dropdown pull-right">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to 'Ver', cliente %></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to 'Editar', edit_cliente_path(cliente) %></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1">Log</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to 'Ver Productos', "#", :cliente=>cliente %></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Enviar condiciones</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to 'Programar retiro', new_retiro_path %></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: '¿Estás seguro?' } %></a></li>
                </ul>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-product-modal" class="modal-content"></div>
  </div>
</div>
