<div class="row">
  <h2>Productos </h2>
</div>
<br/>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover table-condensed" id="products-table">
      <thead>
      <tr>
        <th>SKU</th>
        <th>Retiro</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th><span class="glyphicon glyphicon-home"></span></th>
        <th><span class="glyphicon glyphicon-filter"></span></th>
        <th><span class="glyphicon glyphicon-wrench"></span></th>
        <th><span class="glyphicon glyphicon-camera"></span></th>
        <th><span class="glyphicon glyphicon-globe"></span></th>
        <th></th>
      </tr>
      </thead>
      <tbody class="product-index">
      <% Retiro.where(cliente: cliente).each do |retiro| %>
          <table id="retiro-<%= retiro.id %>" class="table hide table-condensed">
            <thead>
            <tr>
              <th>SKU</th>
              <th>Categoría</th>
              <th>Nombre</th>
              <th>Estado</th>
              <th>Recibir</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% retiro.productos.each do |producto| %>
                <tr>
                  <td><%= producto.sku %></td>
                  <td><%= producto.categorias_todas %></td>
                  <td><%= producto.nombre %></td>
                  <td><span class="glyphicon glyphicon-ok"></span></td>
                  <td><button class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"><span class="glyphicon glyphicon-ok"></span></button></td>
                  <td>
                    <div class="dropdown pull-right">
                      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to 'Ver', producto %></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to 'Editar', edit_producto_path(producto), remote: true %></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to 'Eliminar', producto_delete_path(producto), remote: true  %></a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>
<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-product-modal" class="modal-content"></div>
  </div>
</div>

