<%- model_class = Client -%>
<div class="row">
  <div class="page-header col-md-8">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <div class="col-md-4">
    <%= link_to "CSV", csv_clients_path(format: "csv"), class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="well">
  <div class="row">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="col-md-4">
        <%= f.label 'Buscar' %>
        <%= f.text_field :search_query, placeholder: 'Buscar', class: 'filterrific-periodically-observed form-control' %>
      </div>
      <div class="col-md-4">
        <%= f.label 'Ordenar' %>
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, class: 'filterrific-periodically-observed form-control' %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'clients/list', clients: @clients %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_client_path,
            :class => 'btn btn-primary' %>
