<%- model_class = Order -%>
<div class="row">
  <div class="page-header col-md-8">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <div class="col-md-4">
    <%= link_to "CSV", csv_orders_path(format: "csv"), class: 'btn btn-default pull-right' %>
  </div>
</div>

<div class="well">
  <div class="row">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="col-md-4">
        <%= f.label 'Buscar' %>
        <%= f.text_field :search_query, placeholder: 'Buscar', class: 'filterrific-periodically-observed form-control' %>
      </div>
      <div class="col-md-4">
        <%= f.label 'Ordenar' %>
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, class: 'filterrific-periodically-observed form-control' %>
      </div>
    <% end %>    
  </div>
</div>

<%= render 'orders/list', orders: @orders %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>


<div class="modal fade" id="addNewProductModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Agregar nuevo producto</h4>
      </div>
      <%= simple_form_for @product, :remote => true do |o| %>
        <div class="modal-body">
          <%= o.input :name, :as => :string %>
          <%= o.association :brand, label_method: :name, value_method: :id, include_blank: true %>
          <%= o.association :category, label_method: :name, value_method: :id, include_blank: true %>
          <%= o.association :sub_category, label_method: :name, value_method: :id, include_blank: true, disabled: true %>
          <%= o.association :section, label_method: :name, value_method: :id, include_blank: true, disabled: true %>
          <%= o.input :observation %>
          <%= o.input :sku, input_html: { value: '---' } %>
          <%= o.input :order_id, :as => :hidden %>
        </div>
        <div class="modal-footer">
          <%= o.button :submit, :class => 'btn btn-primary' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>