<%= form_for @producto, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
    <div class="modal-body">
    <ul class="errors"></ul>
    <div class="row">
      <div class="col-lg-12">
        <h3>Proceso</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <table class="table">
          <thead>
          <tr>
            <td><span class="glyphicon glyphicon-home"></span></td>
            <td><span class="glyphicon glyphicon-filter"></span></td>
            <td><span class="glyphicon glyphicon-wrench"></span></td>
            <td><span class="glyphicon glyphicon-camera"></span></td>
            <td><span class="glyphicon glyphicon-globe"></span></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><span class="<%= 'glyphicon glyphicon-ok text-success' if params[:controller] == 'Ingresado' %>"></span></td>
            <td><span class="<%= 'glyphicon glyphicon-ok text-success' if params[:controller] == 'Aceptado' %>"></span></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-7">
        <div class="form-group">
          <%= f.label :observaciones %>
          <div class="controls">
            <%= f.text_area :observaciones, type:"text", class:"form-control"%>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label :proceso %>
          <div class="controls">
            <%= f.select( :proceso, [['En tránsito', 'En tránsito'], ['Recibido, sin filtrar', 'Recibido, sin filtrar'], ['Aceptado', 'Aceptado'], ['Rechazado', 'Rechazado'], ['En limpieza', 'En limpieza'], ['En fotografía', 'En fotografía'], ['En bodega', 'En bodega'], ['Subido', 'Subido'], ['En proceso de venta', 'En proceso de venta']], {include_blank: true}, {class:"form-control"}) %>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12">
        <h3>General</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <%= f.label :retiro %>
          <div class="controls">
            <%= f.collection_select :retiro_id, Retiro.all, :id, :mostrar, class:"form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :categoria %>
          <div class="controls">
            <%= f.select( :categoria, [['Infantil', 'Infantil']], {include_blank: true}, {class:"form-control"}) %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :subcategoria %>
          <div class="controls">
            <%= f.select( :subcategoria, [['Cuidado y Alimentación', 'Cuidado y Alimentación'], ['Juguetes', 'Juguetes'], ['Paseo y Viajes', 'Paseo y Viajes'], ['Ropa Niños', 'Ropa Niños'], ['Ropa Niñitas', 'Ropa Niñitas']], {include_blank: true}, {class:"form-control"}) %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :seccion %>
          <div class="controls">
            <%= f.select( :seccion, [['Poleras niños', 'Poleras niños'], ['Coches', 'Coches'], ['Sillas para auto', 'Sillas para auto']], {include_blank: true}, {class:"form-control"}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <%= f.label :nombre %>
          <div class="controls">
            <%= f.text_field :nombre, class:"form-control", size:"10" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <div class="form-group">
          <%= f.label :sku %>
          <div class="controls">
            <%= f.text_field :sku, disabled:''%>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12">
        <h3>Producto</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <%= f.label :descripcion %>
          <div class="controls">
            <%= f.text_area :descripcion, type:"text", class:"form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :marca %>
          <div class="controls">
            <%= f.select( :marca, [['Infanti', 'Infanti'], ['Carter´s', 'Carter´s']], {include_blank: true}, {class:"form-control"}) %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :estado %>
          <div class="controls">
            <%= f.select( :estado, [['Excelente', 'Excelente'], ['Muy Bueno', 'Muy Bueno'], ['Bueno', 'Bueno'], ['Incompleto', 'Incompleto'], ['Nuevo', 'Nuevo']], {include_blank: true}, {class:"form-control"}) %>
            <div class="controls">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12">
        <h3>Precio</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :precio_nuevo_externo %>
          <div class="controls">
            <%= f.number_field :precio_nuevo_externo, {class:"form-control"} %>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :precio_nuevo_chile %>
          <div class="controls">
            <%= f.number_field :precio_nuevo_chile, {class:"form-control"} %>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :precio_usado_externo %>
          <div class="controls">
            <%= f.number_field :precio_usado_externo, {class:"form-control"} %>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :precio_usado_chile %>
          <div class="controls">
            <%= f.number_field :precio_usado_chile, {class:"form-control"} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :precio_referencia %>
          <div class="controls">
            <%= f.number_field :precio_referencia, {class:"form-control"} %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :precio %>
          <div class="controls">
            <%= f.number_field :precio, {class:"form-control"} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="form-group">
          <%= f.label :proceso %>
          <div class="controls">
            <%= f.select( :proceso, [['Aceptado', '1'], ['Carter´s', 'Carter´s']], {include_blank: true}, {class:"form-control"}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-right">

        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            Proceso <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><span class="glyphicon glyphicon-remove text-danger"></span> Rechazar</a></li>
            <li class="divider"></li>
            <li><%= link_to productos_path do %>
                  <span class="glyphicon glyphicon-filter"></span>
              <% end %></li>
            <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Enviar a Limpieza</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-camera"></span> Enviar a Fotografía</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Marcar como subido</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
    </div>
<% end %>
