<p id="notice"><%= notice %></p>

<p>
  <strong>Observaciones:</strong>
  <%= @producto.observaciones %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @producto.proceso %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @producto.categoria %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @producto.subcategoria %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @producto.seccion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @producto.sku %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @producto.marca %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @producto.estado %>
</p>

<p>
  <strong>Precio nuevo externo:</strong>
  <%= @producto.precio_nuevo_externo %>
</p>

<p>
  <strong>Precio nuevo chile:</strong>
  <%= @producto.precio_nuevo_chile %>
</p>

<p>
  <strong>Precio usado externo:</strong>
  <%= @producto.precio_usado_externo %>
</p>

<p>
  <strong>Precio usado chile:</strong>
  <%= @producto.precio_usado_chile %>
</p>

<p>
  <strong>Precio referencia:</strong>
  <%= @producto.precio_referencia %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
