<%= simple_form_for @product do |f| %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active bindInformation"><a href="#">Información básica</a></li>
    <li role="presentation" class="bindPrice"><a href="#">Precios</a></li>
    <li role="presentation" class="bindCategory"><a href="#">Categorías</a></li>
  </ul>
  <div class="row" id="basicInformation">
    <div class="col-md-4">
      <%= f.input :name, as: :string %>
      <%= f.input :description %>
    </div>
    <div class="col-md-4">
      <%= f.input :status %>
      <%= f.association :brand, label_method: :name, value_method: :id, include_blank: :true %>
      <%= f.association :order, label_method: :product_display, value_method: :id, include_blank: true %>
    </div>
    <div class="col-md-4">
      <%= f.input :weight %>
      <%= f.input :observation %>
    </div>
  </div>

  <div class="row hidden" id="price">
    <div class="col-md-4">
      <%= f.input :new_foreign_price %>
      <%= f.input :used_foreign_price %>
    </div>
    <div class="col-md-4">
      <%= f.input :new_chilean_price %>
      <%= f.input :used_chilean_price %>
    </div>
    <div class="col-md-4">
      <%= f.input :reference_price %>
      <%= f.input :price %>
    </div>
  </div>

  <div class="row hidden" id="category">
    <div class="col-md-6">
      <%= f.association :category, label_method: :name, value_method: :id, include_blank: true %>
      <%= f.association :sub_category, label_method: :name, value_method: :id, include_blank: true %>
    </div>
    <div class="col-md-6">
      <%= f.association :section, label_method: :name, value_method: :id, include_blank: true %>
      <%= f.input :sku %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn' %>
  </div>
<% end %>
