<%- model_class = Supplier -%>
<%- model_product = Product -%>
<div class="page-header">
  <h1>Retiros de <%= @supplier.first_name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @supplier.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.date %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to edit_order_path(order) do %>
            <button class="btn btn-default btn-xs pull-right" type="button">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Atrás', :suppliers, :class => 'btn btn-primary' %>
